<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ICustomerDAO">
    <resultMap id="customer" type="com.bean.Customer">
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="no" property="no" jdbcType="VARCHAR"/>
        <result column="passwd" property="passwd" jdbcType="INTEGER"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insertCustomer">
        INSERT INTO customer values(#{name}, #{no}, #{passwd}, #{birthday}, #{phone}, #{address})
    </insert>

    <delete id="deleteCustomer">
        DELETE FROM customer where no=#{no}
    </delete>

    <update id="updateCustomer">
        UPDATE customer SET name=#{name}, birthday=#{birthday}, passwd=#{passwd}, phone=#{phone}, address=#{address}
        WHERE no=#{no}
    </update>


    <select id="queryCustomer" resultMap="customer">
        SELECT * FROM customer
        <where>
            <if test="no != null">
                no=#{no}
            </if>
            <if test="passwd != null">
                and passwd = #{passwd}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
        </where>

    </select>

    <update id="updatePassWd">
        UPDATE customer set passwd=#{passwd} WHERE no=#{no}
    </update>

    <select id="generateNo" resultType="java.lang.String">
        select no from num_set WHERE type=2;
    </select>
    <update id="updateNo">
        UPDATE num_set SET no=no+1 WHERE type=1;
    </update>
</mapper>